/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Megrim&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------------------- CAÇA PALAVRAS -----------------*/
button.letras {
  width: 25px;
  height: 25px;
  background: #E9A46A;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 0 5px #4ea4ff;
} 

button.letras.a {
  width: 25px;
  height: 25px;
  background: #5905a7;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 0 5px #4ea4ff;
} 

.marcada {
  background: #4ea4ff;
  color: #000;
  font-weight: bold;
}

/* ---------------------- FIM CAÇA PALAVRAS -----------------*/
/* ---------------------- GRAFICOS DASHBOARD OFICIAL -----------------*/
.tit {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: "Urbanist", sans-serif;
  margin: 0px;
}

.graficos_flex {
  display: flex;
  justify-content: flex-start;
}

.caixa_graficos {
  border-radius: 10px;
  border: 0.5px solid #FFF9F9;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 7px 8px 0px #30373e;
  margin: 10px 31px;
}

.caixa_graficos.indicador1 {
  width: 900px;
  height: 200px;

}

.caixa_graficos.indicador2 {
  width: 573px;
  height: 100px;

}

.caixa_graficos.indicador3 {
  width: 573px;
  height: 100px;
}

.caixa_graficos.indicador4 {
  width: 150px;
  height: 100px;

}

.caixa_graficos.indicador5 {
  width: 573px;
  height: 126px;

}

.caixa_graficos.indicador6 {
  width: 150px;
  height: 126px;

}

/* ---------------------- FIM GRAFICOS DASHBOARD OFICIAL -----------------*/
/* ---------------------- DASHBOARD INICIAL -----------------*/
p.boasVindas {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-size: 80px;
  color: aliceblue;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 20px #b181dd;
}

p.boasVindas2 {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-size: 60px;
  color: aliceblue;
  text-align: center;
  margin-top: 120px;
  text-shadow: 0 0 20px #b181dd;
}

/* ---------------------- FIM DASHBOARD INICIAL -----------------*/
/* ---------------------- CONTEUDO DOS PLANETAS -----------------*/
.planetas_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icones_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planetas_icones {
  margin: 10px 20px;
  cursor: pointer;
}

.planetas_icones:hover {
  filter: drop-shadow(0 0 10px #ffee58);
  transform: scale(1.05);
  transition: 0.3s;
}

.caixa_planetas {
  width: 750px;
  height: 450px;
  border-radius: 5px;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
  display: none;
  box-shadow: 4px 3px 20px 0px #c2bd8a
}

.caixa_planetas.saturno {
  background-color: #F09C23;

}

.caixa_planetas.mercurio {
  background-color: #89939c;
}

.caixa_planetas.venus {
  background-color: #ea5d22;
}

.caixa_planetas.marte {
  background-color: #e1391d;
}

.caixa_planetas.netuno {
  background-color: #2381c6;
}

.caixa_planetas.terra {
  background-color: #79b0da;
}

.caixa_planetas.jupiter {
  background-color: #dea430;
}

.caixa_planetas.urano {
  background-color: #5bbdd1;
}

.gif_planetas {
  margin: 20px;
  height: 225px;
  width: 320px;
  border-radius: 30px;
  object-fit: contain;
  background-color: black;
}

.gif_planetas.amarelo {
  box-shadow: 0 0 5px #ffee58, 0 0 10px #ffee58, 0 0 20px #ffee58, 0 0 40px #ffee58;
}

.gif_planetas.azul {
  box-shadow: 0 0 5px #8bccfc, 0 0 10px #3993d5, 0 0 20px #7bc7ff, 0 0 40px #aadbff;
}

.gif_planetas.cinza {
  box-shadow: 0 0 5px #fefefe, 0 0 10px #fefefe, 0 0 20px #fefefe, 0 0 40px #fefefe;
}

.gif_planetas.laranja {
  box-shadow: 0 0 5px #fa8b3b, 0 0 10px #fa8b3b, 0 0 20px #fa8b3b, 0 0 40px #fa8b3b;
}

li {
  list-style: none;
  margin-left: 20px;
  margin-right: 25px;
  font-family: "Urbanist", sans-serif;
  margin-bottom: 5px;
  font-size: medium;
  color: white;
}

.infos {
  margin: 20px;
  font-family: "Urbanist", sans-serif;
  text-align: justify;
  color: white;
}

.nomes {
  font-size: 40px;
  text-align: center;
  margin: 0%;
  color: #fff;
  text-shadow: 0 0 5px #ffee58, 0 0 10px #ffee58, 0 0 20px #ffee58, 0 0 40px #ffee58;
}

/* ---------------------- FIM DO CONTEUDO DOS PLANETAS -----------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Megrim", system-ui;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: "Megrim", system-ui;

}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Megrim", system-ui;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-image: url(img/fundo_dash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;

  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Megrim", system-ui;
  border: 0;

  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;

}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid #f9fbfb;
  background-image: url(img/fundo_dash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #f7f8f8;
  font-weight: 400;
  text-align: center;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #36c6ee;
  font-size: 1.2rem;
  font-weight: 400;
}

.hello h3 span {
  font-weight: 600;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #10162D;
  border: 0.5px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  box-shadow: 2px 5px 14px 2px #2f2f44;
  margin: 10px;
}

.btn-nav-white:hover {
  background-color: #3e57bb;
  box-shadow: -15px 17px 20px 0px rgb(6 17 64);
}

.btn-nav-white h3 {
  color: #ededed;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  color: black;
  font-family: "Urbanist", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #E9A46A;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px 15px;

  cursor: pointer;
  border: 0.5px solid white;
  box-shadow: 2px 5px 14px 2px #2f2f44;
}

.btn-logout:hover {
  background-color: #f7f7f7;
  box-shadow: 2px 5px 14px 2px rgb(17, 17, 91);
}