@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Megrim&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* FONTES */
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(20, 28, 56, 0.746);
  box-shadow: 0px 1px 0px 0px #dbf8ff;
  ;
  z-index: 10;
  padding: 0 40px;
  /* espaço lateral */
}

.logo {
  width: 50px;
}

li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
}

a {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: medium;
  color: aliceblue;
  text-decoration: none;

  transition: color 0.3s;

}

a:hover {
  color: #36c6ee;

}

/* --------------------------- HOME --------------------------------*/
.img_fundo {
  min-height: 140vh;
  background-image: url("img/fundo_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gifs_home{
 height: 500px;
}

.gifs_tres{
margin: 80px 0px 0px 0px;
width: 700px;
}
/* TEXTOS */
p.titulo {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-size: 80px;
  color: aliceblue;
  text-align: center;
  margin-bottom: 10px;
  text-shadow:0 0 20px #b181dd;
}

p.titulo.sobre_mim {
  font-family: "Megrim", system-ui;
  font-weight: 100;
  font-size: 80px;
  color: aliceblue;
  text-align: left;
  margin-bottom: 10px;
  margin-right: 500px;
  margin-left: 50px;
}

p.subtitulo {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-size: 40px;
  color: aliceblue;
  text-align: center;
}
/*CONTEUDOS SOBRE MIM*/
div.fundo {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragrafo{
  color: aliceblue;
  font-family: "Urbanist", sans-serif;
  padding: 10px;
  text-align: justify;
}

.margin_paragrafo{
  margin: 10px 300px;
}
/*FIM CONTEUDOS SOBRE MIM*/
/*CONTEUDOS HOME*/


div.conteudo {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.conteudo.f {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/fundo_conteudo2.png);
}

p.texto {
  color: aliceblue;
  font-family: "Urbanist", sans-serif;
  padding: 90px;
}

p.texto2 {
  color: aliceblue;
  font-family: "Urbanist", sans-serif;
  padding: 0px 90px 0px 10px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
hr{
 width: 1172px;
  border: none;
  border-top: 1px solid #4A4545; 
}
/* --------------------------- FIM HOME --------------------------------*/

/* --------------------------- FOOTER --------------------------------*/
footer{
  background-color: #191526;
}
.footer2{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.redes-flex{
   gap: 20px;
   margin-left: 20px;
   margin-right: 20px;
}
.redes{
  width: 25px;
  margin:13px 0px 12px 12px;
}

.logo-footer{
  font-family: "Megrim", system-ui;
  font-weight: 400;
  color: white;
  font-size: 30px;
  margin: 20px;
}
.icone-footer{
  margin: 30px;
  width: 100px;
  margin-right: 46px;
}
.text-footer{
  font-family: "Urbanist", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 200;
  margin: 30px;
}
/* --------------------------- FIM FOOTER --------------------------------*/


/* --------------------------- LOGIN --------------------------------*/

.msg {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: large;
  color: aliceblue;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}

.aparecer {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: large;
  color: aliceblue;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}

.aparecer:hover {
  color: #36c6ee;
  cursor: pointer;
}

.centralizando {
  margin: 10px;
}

.titulo.login {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-size: 50px;
  color: aliceblue;
  text-align: center;
  margin-bottom: 10px;
}

input {
  width: 315px;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  font-size: 0.95rem;
  transition: 0.9s;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #36c6ee inset;
  background-color: #aeecfc;
}

.botao {
  width: 100%;
  padding: 12px;
  margin: 0px 0px 20px 0px;
  border: none;
  border-radius: 10px;
  background-color: #60308c;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
  background-color: #431259;
  transform: scale(1.03);
}

.img_fundo_login {
  min-height: 140vh;
  background-image: url("img/fundo_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

}

/* container para sobreposição */

.caixa.login {
  position: absolute;
  width: 349px;
  height: 475px;
  padding: 1.3%;
  border-radius: 5px;
  background-color: #000000b5;
  box-shadow: -15px 17px 20px 0px rgb(6 17 64);
  transition: all 0.6s ease;
  /*tempo da transição*/


}

.caixa.login.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* sempre começa no centro */
.caixa {
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* saída começa escondida */
#saida {
  left: 50%;
  transform: translateX(-50%);
  /* ponto de ref do centro da tela */
  opacity: 0;
  /* começa invisivel */
  z-index: 1;
  /* ordem de empilhamento dos elementos, saida atras da calculadora*/
}

/* quando ativar, move para a direita */
#saida.show {
  left: calc(50% + 350px);
  /* medida ate a esquerda da tela */
  transform: translateX(-50%);
  opacity: 1;
}

/*Mensagem de erro validação*/
.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

#div_erros_login {
  display: none
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/*Textos*/
p.login {
  color: aliceblue;
  font-family: "Urbanist", sans-serif;
  font-size: 21px;

}

p.inputs {
  color: aliceblue;
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
}